class Config(object):
    APP_ID = 1293082
    API_HASH = "0b113c40038ed82cea13be3eeaa2b0e6"
    BOT_TOKEN = "6145911399:AAGbx91MAd_paiRd7BW_7hkm9v97n9D6Bws"
    AUTH_USERS = set(int(x) for x in "705793735".split(" "))
    IS_PUBLIC_BOT = False # Set this to True if you want to make your bot public
    LOGS_CHANNEL = YOUR_LOG_CHANNEL_ID
    # DON'T CHANGE THESE 2 VARS
    DOWNLOAD_LOCATION = "./NexaBots"
    TG_MAX_SIZE = 2040108421
    # Mega User Account
    MEGA_EMAIL = "YOUR_MEGA_NZ_ACCOUNT'S_EMAIL"
    MEGA_PASSWORD = "YOUR_MEGA_NZ_ACCOUNT'S_PASSWORD"
